li.jour{
	color : #b2fefb;
	font-family: Arial;
	font-weight: bold;
	background-color : blue;
}

li.matiere{
	color : black;
	font-family: Verdana;
	background-color : #b2fefb;
	list-style-image : url(triangle.png);
	list-style-position: inside;
}