div.menu{
	position: absolute;
	width: 1440px;
	height: 142px;
	left: 0px;
	top: 0px;
	background: #08BBB0;
} 

h1.nomLudotheque{
position: absolute;
width: 1440px;
height: 40px;
left: 0px;
top: 0px;

font-family: Schoolbell;
font-style: normal;
font-weight: normal;
font-size: 40px;
text-align: center;

color: #FFFFFF;
}

button.buttonAccueil{	
	position: absolute;
	width: 217px;
	height: 56px;
	background: #0077A9;
	color: white;
	border-color: #0077A9;
	border-radius: 10px;
	font-family: Schoolbell;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 36px;
	left: 122px;
	top: 86px;
}

button.buttonJeux{
	position: absolute;
	width: 217px;
	height: 56px;
	background: #0077A9;
	color: white;
	border-color: #0077A9;
	border-radius: 10px;
	font-family: Schoolbell;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 36px;
	left: 524px;
	top: 86px;
}

button.buttonCompte{
	position: absolute;
	width: 217px;
	height: 56px;
	background: #0077A9;
	color: white;
	border-color: #0077A9;
	border-radius: 10px;
	font-family: Schoolbell;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 36px;
	left: 926px;
	top: 86px;
}

input.recherche{
	position: absolute;
	width: 181px;
	height: 30px;
	left: 1225px;
	top: 99px;

	background: #08BBB0;	
	border: 3px solid #C4C4C4;
	box-sizing: border-box;
	backdrop-filter: blur(4px);
	border-radius: 10px;
	color: #f2f2f2;
}

img.imageRecherche{
	position: absolute;
	width: 24px;
	height: 24px;
	left: 1375px;
	top: 102px;
}

div.piedDePage{
	position: absolute;
width: 1440px;
height: 91px;
left: 0px;
top: 846px;
background: #08BBB0;
}

text.textAdresse{
position: absolute;
width: 270px;
height: 83px;
left: 59px;
top: 0px;

font-family: Schoolbell;
font-style: normal;
font-weight: normal;
font-size: 24px;
text-align: center;

color: #FFFFFF;
}

text.textContact{
position: absolute;
width: 512px;
height: 91px;
left: 732px;
top: 0px;

font-family: Schoolbell;
font-style: normal;
font-weight: normal;
font-size: 24px;
text-align: center;

color: #FFFFFF;
}

h2.titre{
	position: absolute;
	width: 598px;
	height: 61px;
	left: 421px;
	top: 172px;

	font-family: Schoolbell;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 50px;
	display: flex;
	align-items: center;
	text-align: center;
	text-decoration-line: underline;

	color: #0300A9;
}

p.pDescription{
	position: absolute;
	width: 1362px;
	height: 104px;
	left: 37px;
	top: 264px;

	font-family: Schoolbell;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;

	color: #000000;
}

img.imageJeux{
	width: 180px;
	height: 180px;
	left: 87px;
	top: 500px;
}